.content{
	background: url(../images/login.jpg) no-repeat 0px 0px;
	height: 800px;
	position: relative;
	.container{
		position: absolute;
		right:20px;
		top: 300px;
		.well{
			border: 1px solid #0f3356;
			background: #132435;
			.text-center{
				color: #0b84d3;
				font-size: 18px;
			}
			.input-group{
				margin-top: 15px;
				.input-group-addon{
					background-color: #132232;
					border: 1px solid #0f3356;
					i {
						color: #0385d4;
				}
			}
				.form-control{
					border: 1px solid #0f3356;
					background-color: #132232;
				}
			}
			.checkbox{
				label{
					color: white;
					span{
						color: #0b84d3;
					}
				}
			}
			.btn{
				background-color: #184c86;
				border: none;
			}
			.server{
				color: #0b84d3;
				display: flex;
				justify-content: space-between;
				margin: 20px 0; 
				span{
					cursor: pointer;
				}
			}
			p{
				color: white;
			}
			a{
				display: block;
				width: 80px;
				height: 66px;
				background: url(../images/oauth1.png) no-repeat;
				margin: 10px auto;
			}
		}
	}
}
