body {
  background-color: #121C27;
}

.space {
  height: 140px;
}

nav {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  position: relative;
  background: rgba(18, 28, 39, 0.8);
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.3);
}

nav .content {
  width: 1000px;
  line-height: 50px;
}

nav .content > ul {
  height: 50px;
  display: flex;
  justify-content: space-around;
}

nav .content > ul > li {
  color: white;
  list-style: none;
}

nav .content > ul > li:hover {
  cursor: pointer;
  border-bottom: 2px solid  #00A0E9;
}

nav .content > ul > li:nth-child(2):hover {
  border-bottom: none;
}

nav .content > ul > li:nth-child(2):hover ul {
  display: block;
}

nav .content > ul > li ul {
  position: absolute;
  display: none;
  opacity: 0.9;
  z-index: 999;
}

nav .content > ul > li ul li {
  width: 400px;
  height: 45px;
  list-style: none;
  background-color: #132A44;
}

nav .content > ul > li ul li:hover {
  background-color: #13375E;
}

nav .content > ul > li ul li img {
  margin: 0 10px;
}

.product {
  width: 100%;
  background-color: #121C27;
}

.product .kind {
  height: 470px;
  width: 95%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}

.product .kind:nth-child(2) ul li {
  position: relative;
}

.product .kind:nth-child(2) ul li > img {
  position: absolute;
  left: 5px;
  top: -24px;
  cursor: pointer;
}

.product .kind:nth-child(2) ul li div img {
  margin-left: 16px;
  left: 15px;
  width: 160px;
  margin-bottom: 16px;
}

.product .kind:nth-child(3) ul li {
  position: relative;
}

.product .kind:nth-child(3) ul li > img {
  position: absolute;
  left: -6px;
  top: 8px;
  cursor: pointer;
}

.product .kind:nth-child(3) ul li div img {
  margin-left: 16px;
  left: 15px;
  width: 160px;
  margin-bottom: 16px;
}

.product .kind:nth-child(4) ul li {
  position: relative;
}

.product .kind:nth-child(4) ul li > img {
  position: absolute;
  left: 5px;
  top: 5px;
  cursor: pointer;
}

.product .kind .title {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 1200px;
  color: #F0FFF1;
  margin: 20px auto;
  height: 50px;
  border-bottom: 1px solid #0F3356;
}

.product .kind .title span {
  font-size: 15px;
}

.product .kind .title span:nth-child(2) {
  color: #429605;
  cursor: pointer;
}

.product .kind ul {
  display: flex;
  justify-content: space-between;
}

.product .kind ul li {
  list-style: none;
  width: 220px;
  height: 370px;
  padding-left: 15px;
  position: relative;
  border: 1px solid #0F3356;
}

.product .kind ul li:hover {
  border: 1px solid #13406C;
}

.product .kind ul li > img {
  position: absolute;
  left: -10px;
  top: 5px;
  cursor: pointer;
}

.product .kind ul li .titie:hover {
  color: #0B84D3;
  cursor: pointer;
}

.product .kind ul li div {
  width: 200px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  margin: 10px 0;
}

.product .kind ul li div img {
  cursor: pointer;
  width: 100%;
  height: 150px;
  margin-bottom: 16px;
}

.product .kind ul li div > span {
  font-weight: normal;
  color: #0B84D3;
}

.product .kind ul li div:nth-child(4) {
  font-size: 15px;
}

.product .kind ul li div:nth-child(5) {
  font-size: 15px;
}

.product .kind ul li div:nth-child(5) span {
  color: #429605;
}

.product .kind ul li .btn {
  width: 190px;
  height: 40px;
  background-color: #184C86;
  line-height: 30px;
}

.product .kind ul li .btn:hover {
  background-color: #16477D;
}

.product .kind ul li > span {
  width: 220px;
  color: #fff;
  display: block;
  color: #0B84D3;
  font-size: 12PX;
}
