body {
  background-color: #121C27;
  overflow-x: hidden;
}

.main {
  overflow-y: hidden;
}

.main > .title {
  margin: 0 auto;
  margin-top: 260px;
  width: 1200px;
  color: #FFF;
  height: 60px;
  border-bottom: 1px solid #0F3356;
}

.main > .title a {
  color: #fff;
}

.main > .title a:hover {
  text-decoration: none;
  color: #0B84D3;
  cursor: pointer;
}

.main .banner {
  width: 1200px;
  margin: 0 auto;
}

.main .banner img {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

.main .list {
  width: 1200px;
  margin: 0 auto;
}

.main .list .list_head {
  height: 40px;
  border-bottom: 1px solid #0F3356;
}

.main .list ul {
  margin-top: 20px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main .list ul li {
  list-style: none;
  box-sizing: border-box;
  padding: 10px;
  width: 230px;
  height: 285px;
  margin-bottom: 15px;
  border: 1px solid #0F3356;
}

.main .list ul li:hover {
  border: 1px solid #13406C;
}

.main .list ul li .title {
  color: #fff;
  font-weight: 600;
}

.main .list ul li .title:hover {
  color: #0B84D3;
  cursor: pointer;
}

.main .list ul li img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 150px;
  cursor: pointer;
}

.main .list ul li div {
  width: 200px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.main .list ul li div > span {
  font-weight: normal;
  color: #0B84D3;
}

.main .list ul li div:nth-child(4) {
  font-size: 12px;
}

.main .list ul li div:nth-child(4) span {
  color: #429605;
}

.main .list ul li .btn {
  width: 100%;
  margin-top: 7px;
  height: 40px;
  font-size: 14px;
  background-color: #184C86;
  line-height: 30px;
}

.main .list ul li .btn:hover {
  background-color: #16477D;
}

.main .list ul li > span {
  width: 220px;
  color: #fff;
  display: block;
  color: #0B84D3;
  font-size: 12PX;
}

nav {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  top: 140px;
  left: 0;
  z-index: 888;
  position: absolute;
  background: rgba(18, 28, 39, 0.8);
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.3);
}

nav .content {
  width: 1200px;
  margin: 0 auto;
  line-height: 50px;
}

nav .content > ul {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

nav .content > ul > li {
  color: white;
  list-style: none;
}

nav .content > ul > li:hover {
  cursor: pointer;
  border-bottom: 2px solid  #00A0E9;
}

nav .content > ul > li:nth-child(2):hover {
  border-bottom: none;
}

nav .content > ul > li:nth-child(2):hover ul {
  display: block;
}

nav .content > ul > li:last-child {
  position: relative;
}

nav .content > ul > li:last-child .search {
  right: 50px;
  top: -60px;
  position: absolute;
  color: #fff;
  width: 400px;
  height: 30px;
  border: 1px solid #133354;
  background: rgba(21, 52, 87, 0.4);
}

nav .content > ul > li:last-child .search input {
  height: 30px;
  width: 298px;
  border: 1px solid #133354;
  float: left;
  background: rgba(21, 52, 87, 0.4);
}

nav .content > ul > li:last-child .search button {
  outline: none;
  height: 30px;
  float: left;
  width: 100px;
  border: 1px solid #133354;
  line-height: 30px;
  background: rgba(21, 52, 87, 0.4);
}

nav .content > ul > li:last-child .search .info {
  display: none;
}

nav .content > ul > li:last-child .img {
  position: absolute;
  top: -70px;
  right: 470px;
}

nav .content > ul > li ul {
  position: absolute;
  display: none;
  opacity: 0.9;
  z-index: 999;
}

nav .content > ul > li ul li {
  width: 400px;
  height: 45px;
  list-style: none;
  background-color: #132A44;
}

nav .content > ul > li ul li:hover {
  background-color: #13375E;
}

nav .content > ul > li ul li img {
  margin: 0 10px;
}

.nav_list {
  background: rgba(21, 50, 83, 0.5);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  top: 190px;
  left: 0;
  position: absolute;
}

.nav_list .content {
  width: 1200px;
  margin: 0 auto;
  height: 50px;
}

.nav_list .content > ul {
  display: flex;
  justify-content: space-between;
  width: 860px;
}

.nav_list .content > ul > li {
  list-style: none;
  color: #FEFEFE;
  padding: 0 20px;
  line-height: 50px;
  position: relative;
}

.nav_list .content > ul > li .choice {
  position: absolute;
  z-index: 1000;
  top: 50px;
  left: 0;
  cursor: default;
  display: none;
  overflow: hidden;
  width: 720px;
  height: 300px;
  background: rgba(26, 42, 63, 0.9);
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.3);
}

.nav_list .content > ul > li .choice img {
  position: relative;
  right: -50px;
  top: 50px;
}

.nav_list .content > ul > li .choice > ul {
  float: left;
  width: 300px;
}

.nav_list .content > ul > li .choice > ul > li {
  list-style: none;
  float: left;
  text-align: center;
  width: 140px;
  cursor: pointer;
  color: #c9c9c9;
  border: 1px solid rgba(36, 51, 67, 0.9);
}

.nav_list .content > ul > li .choice > ul > li:hover {
  color: #fff;
}

.nav_list .content > ul > li:hover {
  background: rgba(21, 50, 83, 0.5);
  cursor: pointer;
}

.nav_list .content > ul > li:hover .choice {
  display: block;
}
